<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.patrick.recordremoteapplication" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TotalListScreen"
            android:label="@string/title_activity_total_list_screen"
            android:parentActivityName=".MainScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.patrick.recordremoteapplication.MainScreen" />
        </activity>
        <activity
            android:name=".CurrentListScreen"
            android:label="@string/title_activity_current_list_screen"
            android:parentActivityName=".MainScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.patrick.recordremoteapplication.MainScreen" />
        </activity>

        <service
            android:name=".ListenerService"
            android:exported="false" >
        </service>

        <activity
            android:name=".SongAssociationScreen"
            android:label="@string/title_activity_song_association_screen"
            android:parentActivityName=".SongAssociationScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.patrick.recordremoteapplication.AlbumAssociationScreen" />
        </activity>

        <activity
            android:name=".AlbumAssociationScreen"
            android:label="@string/title_activity_album_association_screen"
            android:parentActivityName=".AlbumAssociationScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.patrick.recordremoteapplication.ArtistAssociationScreen" />
        </activity>

        <activity
            android:name=".ArtistAssociationScreen"
            android:label="@string/title_activity_artist_association_screen" >
        </activity>

    </application>

</manifest>
